/*New*/
$viewportWidth: 1366px;
$viewportHeight: 768px;

/*Colors*/
$white: #ffffff;
$green: #59c135;
$green_light: #d6f264;
$black: #000000;
$darkest: #111014;
$darker: #14131a;
$gray_light: #e3e6ff;

$gray_white: #8b93af;
$gray_dark: #333941;

$blue_strong: #249fde;
$blue_medium: #849be4;
$blue_medium_opacity: rgba(101, 154, 163, 0.21);
