<aside class="menu">
  <div class="menu__title">
    <img class="menu__title--header" src="assets/img/logo.png" />
    <h3>{{ (router$ | async) || "/home" }}</h3>
  </div>
  <ul class="menu__items">
    <li [ngClass]="{ active: (router$ | async) === '' }" [routerLink]="['/']">
      <h2>/home</h2>
    </li>
    <li
      [ngClass]="{ active: (router$ | async) === '/albums' }"
      [routerLink]="['/albums']"
    >
      <h2>/albums</h2>
    </li>
    <li
      [ngClass]="{ active: (router$ | async) === '/artists' }"
      [routerLink]="['/artists']"
    >
      <h2>/artists</h2>
    </li>
  </ul>
</aside>
